<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="image/backimage1.jpg" type="image/png">
    <title>EHotel Room Reservation</title>
    <!-- Bootstrap CSS -->
    <!--//Royal link-->
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{css/nice-select/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
    <!-- main css -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/responsive.css}">

   <!-- //lux link-->

    <link rel="stylesheet" th:href="@{css/Lux/css/animate.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/icomoon.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/flexslider.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{css/Lux/css/style.css}">
    <script th:src="@{js/Lux/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{js/Lux/js/respond.min.js}"></script>




</head>
<style>
    .navigation-bar{
        background: #CCC;
        opacity: 0.6;
    }
</style>

<body>
<div class="navigation-bar" th:object="${profile}">
<nav class="colorlib-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <!--<div class="col-xs-4">-->
                    <!--<p class="site">www.yoursitehere.com</p>-->
                <!--</div>-->
                <div class="col-xs-8 text-right">
                    <p class="num" th:text=" *{phone}">Call</p>
                    <ul class="colorlib-social">
                        <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
                        <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
                        <!--<li><a href="#"><i class="icon-linkedin"></i></a></li>-->
                        <!--<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"><a href="Index.html">EHotel</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="pages/Hotels.html">Hotel Profile</a></li>
                        <li><a href="pages/Rooms.html">Rooms</a></li>
                        <li><a href="register/hotel">Register</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a th:href="@{/logout}"/>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</div>




<aside id="colorlib-hero">
	<div th:object="${images}">
	<!-- 	<img alt="" th:src="*{pic}"> -->
	</div>
    <div class="flexslider" th:object="${profile}">
        <ul class="slides">
            <li style="background-image: url(image/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                  <h2 th:text="*{moto}"></h2>
                             	
                                <h1 th:text="*{hotelName}"> </h1>
                                <p><a class="btn btn-primary btn-demo" href="pages/Hotels.html"></i> View Hotels</a> <a class="btn btn-primary btn-learn" href="register/hotel">Join Us</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
              <li style="background-image: url(image/img_bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>You Are Invited  To Reserve Where Ever You Want!</h2>
                                <h1>We Know How To Please You</h1>
                                <p><a class="btn btn-primary btn-demo" href="pages/Hotels.html"></i> View Hotels</a> <a class="btn btn-primary btn-learn">Book Know</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(image/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                 <h2 th:text="*{moto}"></h2>
                             	
                                <h1 th:text="*{hotelName}"> </h1>
                           
                                  <p><a class="btn btn-primary btn-demo" href="pages/Hotels.html"></i> View Hotels</a> <a class="btn btn-primary btn-learn" href="register/hotel">Join Us</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
          
            <li style="background-image: url(image/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Come &amp; Contact With Us</h2>
                                <h1>Reserve Using EHotel</h1>
                                <p><a class="btn btn-primary btn-demo" href="#"></i> View Hotels</a> <a class="btn btn-primary btn-learn">Book Know</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>


<!--footer -->
<footer id="colorlib-footer" role="contentinfo">
    <div class="container" th:object="${profile}">
        <div class="row row-pb-md">
            <div class="col-md-3 colorlib-widget">
                <h4 th:text="*{hotelName}" ></h4>
                <p th:text="*{description}"></p>
                <p>
                <ul class="colorlib-social-icons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
                </p>
            </div>
            <div class="col-md-3 colorlib-widget">
                <h4>Quick Links</h4>
                <p>
                <ul class="colorlib-footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="pages/Rooms.html">Rooms</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                </p>
            </div>
            <div class="col-md-3">
                <h4>Recents Blog Post</h4>
                <ul class="colorlib-footer-links">
                    <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                    <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                    <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-md-push-1">
                <h4>Contact Information</h4>
                <ul class="colorlib-footer-links">
                    <li th:text="*{subCity}"></li>
                    <li  th:text="*{city}"></li>
                    <li><a href="tel:*{phone}" th:text="*{phone}"></a></li>
                    <li><a href="mailto:kirubelayehu@gmail.com"></a></li>
                    <li><a href="">Ehotel.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<a href="Index.html" target="_blank">EHotel</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small>

                </p>
            </div>
        </div>
    </div>
</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>




<!--//royal script-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/nice-select/js/jquery.nice-select.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/stellar.js"></script>
<script src="js/simpleLightbox.min.js"></script>
<script src="js/custom.js"></script>

<!--//lux script-->
<script src="js/Lux/js/jquery.min.js"></script>
<script src="js/Lux/js/jquery.easing.1.3.js"></script>
<script src="js/Lux/js/bootstrap.min.js"></script>
<script src="js/Lux/js/jquery.waypoints.min.js"></script>
<script src="js/Lux/js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/Lux/js/jquery.magnific-popup.min.js"></script>
<script src="js/Lux/js/magnific-popup-options.js"></script>
<script src="js/Lux/js/bootstrap-datepicker.js"></script>
<script src="js/Lux/js/main.js"></script>


</body>
</html>
